iframe {
	border: 0px;
}

h1 {
	font-family: nouvelle-vague, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h5 {
	font-family: factoria, serif;
	font-weight: 500;
	font-style: normal;
}

#title-bar {
	background-image: url("/img/title.jpg");
  	background-repeat: no-repeat;
  	background-size: 100% 100%;
  	-moz-background-size: 100% 100%;
}

#webtitle {
  	font-size: 80px;
	text-align: center;
	font-family: coquette, sans-serif;
	font-weight: 700;
	font-style: normal;
  	text-shadow: 3px 2px grey;
}

#info-what-is-techzjc-message {
  	margin: auto;
  	padding: 10px;
	background-color: #eeeeee;
}

#info-how-will-my-message-transmit {
  	margin: auto;
  	padding: 10px;
	background-color: #eeeeee;
}

#welcomemsg {
	font-family: factoria, sans-serif;
	font-weight: 500;
	font-style: normal;
}